@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&family=Poppins:ital,wght@0,400;1,900&family=Ubuntu&display=swap');

body{
    overflow: hidden;
}

.alert {
    background-color: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    opacity: 0;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}

.alert.warningAlert{
    background-color: #ff9b9b;
    border-left: 8px solid #ff0000;
}

.alert.successAlert{
    background-color: #75ff7c;
    border-left: #00ff0d;
}

.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}
.alert.hide{
    opacity: 0;
    animation: hide_slide 1s ease forwards;
}

.alert.warningAlert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.warningAlert.show{
    animation: show_slide 1s ease forwards;
}
.alert.warningAlert.hide{
    opacity: 0;
    animation: hide_slide 1s ease forwards;
}

.alert.successAlert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.successAlert.show{
    animation: show_slide 1s ease forwards;
}
.alert.successAlert.hide{
    opacity: 0;
    animation: hide_slide 1s ease forwards;
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert.warningAlert .fa-exclamation-circle{
    color: #ce0000;
}

.alert.successAlert .fa-exclamation-circle{
    color: #03c50c;
}

.alert #msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert.warningAlert #msg{
    color: #ce0000;
}

.alert.successAlert #msg{
    color: #03c50c;
}

.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.alert.warningAlert .close-btn{
    background-color: #ff5f5f;
}

.alert.successAlert .close-btn {
    background-color: #50ff59;
}

.close-btn:hover{
    background-color: #ffc766;
}

.alert.warningAlert .close-btn:hover{
    background-color: #fd4e4e;
}

.alert.successAlert .close-btn:hover{
    background-color: #38ff42;
}

.close-btn .fa-times{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

.alert.warningAlert .close-btn .fa-times{
    color: #ce0000;
}

.alert.successAlert .fa-times{
    color: #03c50c;
}

@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
@keyframes hide_slide{
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}