@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

#dashboard_usuario{
    width: 100vw;
    height: 100vh;    
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: top ;   
}

#dashboard_usuario > div {
    background: #E8F9FD;
    width: 22vw;
    height: 100vh;
    box-shadow: 0px 25px 40px #79DAE8;
    position: relative;
}

#dashboard_usuario > div > .show-perfil{
    right: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: top;
    flex-direction: column;
    padding: 12px 32px 32px 32px;
}

#dashboard_usuario > div > .show-perfil > h2{
    font-size: 1.8rem;
    margin-bottom: 4px;
    color: #2155CD;
}

#dashboard_usuario > div > .show-perfil > span{
    font-size: 0.9rem;
}

#dashboard_usuario > div > .show-perfil > span:nth-last-child(1){
    font-size: 0.9rem;
}

.dash-footer {
    position: absolute;
    width: 22vw;
    bottom: 0;
    display: flex;
    padding: 0 6% 4% 0;
    justify-content: flex-end;
}

.div-principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8F9FD;
}

.div-esquerda{
    width: 45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-esquerda > image {
    width: 35vw;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .welcome-msg {
    color: #2155CD;
    font-size: 2.0rem;  
}

header .msg{
    font-size: 1.0rem;
}

.esqueceu-senha > div > h1{
    color: #2155CD;
    font-size: 2.0rem;
}

.esqueceu-senha > div > h1 > a {
    font-size: 1.0rem;
}

.esqueceu-senha > div > img {
    width: 30vw;
}

.div-direita{
    width: 55vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao-flutuante{
    width: 50%;
    background: #E8F9FD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 25px 40px #79DAE8;
}

.cartao-flutuante > h1 {
    color: #2155CD;
    font-weight: 800;
    margin: 8px 0;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.campo-de-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    margin: 10px 0px;
    margin-top: 20px;
}

.campo-de-texto > input {
    width: 100%;
    border: none;
    border: 1.2px solid #2155CD;
    border-radius: 7px;
    padding: 13px;
    background: #E8F9FD;
    color: #79DAE8;
    font-size: 14pt;
    outline: none;
}

.campo-de-texto > input::placeholder {
    font-size: 7pt;
    color: #79DAE8;
}

.campo-de-texto > label {
    color: black;
    margin-bottom: 5px;
}

.senha-cad{
    margin-top: 8px;
}

.campo-de-texto .esq-pass {
    font-size: 7pt;
}

.esq-pass {
    position: absolute;
    bottom: -24%;
}

.campo-de-texto > input > #senha_cadastro {
    position: absolute;
}

#status-nome, 
#status-email, 
#status-pass, 
#status-confirmar-senha,
#status-log-email,
#status-log-senha
{
    font-size: 0.8rem;
    position: absolute;
    bottom: -18%;
}

/*Ícone para mostrar senha*/
.fa-eye {
    position: absolute;  
    top: 5%;
    right: 2%;
    cursor: pointer;
}

.fa-eye-slash{
    position: absolute;  
    top: 5%;
    right: 2%;
    cursor: pointer;
}

.fa-circle-exclamation {
    position: absolute;
    top: 60%;
    right: 3%;
    cursor: pointer;
}

.redes-sociais{
    width: 100%;
    display: flex;
    justify-content: center;
}

.redes-sociais img {
    width: 40px;
    size: 25px;
    margin: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform .3s;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}

#alerta-log-erro, #alerta-cad-error{
    display: none;  
    background-color: rgb(224, 0, 0);
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#alerta-cad-sucesso, #alerta-log-sucesso{
    display: none;  
    background-color: #04AA6D;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#alerta-log-erro, #alerta-log-sucesso{
    margin: 20px 0 -14px 0;
}

form button {
    transition: transform .3s;
}

form button:hover {
    transform: scale(1.2);
}

.btn-submit {
    width: 80%;
    color: #E8F9FD;
    background-color: #2155CD;
    border-radius: 10px;
    padding: 16px 0px;
    margin: 25px;
    outline: none;
    border: none;
    font-weight: 700;
    box-shadow: 0px 15px 45px -12px #2155CD;
    cursor: pointer;
}

.btn-remover-usuario {
    width: 60%;
    height: 90%;
    border-radius: 24px;
    color: #E8F9FD;
    background-color: rgb(224, 0, 0);
    padding: 3px;
    font-size: 0.7rem;
    font-family: inherit;
    font-weight: 800;
    padding: 4%;
    cursor: pointer;
    outline: none;
    border: none;
}

.square{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: #E8F9FD;
    bottom: 25%;
    position: absolute;
}

#message {
    background-color: #E8F9FD;
    display: none;
    color: #000;
    position: absolute;
    bottom: 37.5%;
    right: 10px;
    padding: 7px;
    margin-top: 8px;
    border-radius: 6px;
    box-shadow: 0px 25px 40px #79DAE8;
    animation: apperance .2s 0.4s backwards;
}

#message li {
    list-style: none;
    padding: 10px 35px;
    position: relative;
    font-size: 13px;
}

  /* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: #04AA6D;
}

.valid:before {
    position: relative;
    left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
  }
  
.invalid:before {
    position: relative;
    left: -35px;
  }

/* Animacoes 
    h1 de login e cadastro
    botões de login e cadastro
*/

.cartao-flutuante h1{
    animation: fromLeft .8s 0.2s backwards;
}

.cartao-flutuante form button {
    animation: fromRight .8s 0.2s backwards;
}

#cartao_login {
    animation: fromTop .6s 0.1s backwards;
}

@keyframes fromLeft {
    from {
        opacity: 0.2;
        transform: translateX(-150px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    from {
        opacity: 0.2;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromTop {
    from {
        opacity: 0.2;
        transform: translateY(-170px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes apperance {
    from{
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}